
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp" />


    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/layui")
    @Scripts.Render("~/bundles/global")
    @Styles.Render("~/Content/layui")
    @Styles.Render("~/Content/fontAwesome")
    @Styles.Render("~/Content/global")
    @RenderSection("css", required: false)
    <link rel="shortcut icon" href="@Url.Content("~/Content/Images/favicon.ico")" />
</head>
<body>



    @RenderBody()







    @RenderSection("scripts", required: false)
</body>
</html>
