@section css{
    <link href="@Url.Content("~/Content/about.css")" rel="stylesheet" />
}
@section scripts{
    <script src="@Url.Content("~/Scripts/about.js")"></script>
}

@{
    ViewBag.Title = "HuLuBlog -- 关于本站";
    Layout = "~/Views/Shared/NavLayOut.cshtml";
}
@using MvcSiteMapProvider.Web.Html

<div class="blog-container">
    @Html.MvcSiteMap().SiteMapPath("HuLuBlogSiteMap")
    <div class="blog-main">
        <div class="layui-tab layui-tab-brief shadow" lay-filter="tabAbout">
            <ul class="layui-tab-title">
                <li lay-id="1">关于博客</li>
                <li lay-id="2">关于作者</li>
                <li lay-id="3" id="frinedlink">友情链接</li>
                <li lay-id="4">留言墙</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item">
                    <div class="aboutinfo">
                        <div class="aboutinfo-figure">
                            <img src="@Url.Content("~/Content/Images/Logo_100.png")" alt="HuLuBlog" />
                        </div>
                        <p class="aboutinfo-nickname">HuLuBlog</p>
                        <p class="aboutinfo-introduce">一个.NET程序员的个人博客，分享技术，偶尔整活，记录博主成长之路。</p>
                        <p class="aboutinfo-location"><i class="fa fa-link"></i>&nbsp;&nbsp;<a target="_blank" href="http://www.hafuhafu.cn/HuLuBlog">http://www.hafuhafu.cn/HuLuBlog</a></p>
                        <hr />
                        <div class="aboutinfo-contact">
                            <a target="_blank" title="网站首页" href="@Url.Action("Index","Home")"><i class="fa fa-home fa-2x" style="font-size:2.5em;position:relative;top:3px"></i></a>
                            <a target="_blank" title="文章专栏" href="@Url.Action("Index","Article")"><i class="fa fa-file-text fa-2x"></i></a>
                            @*<a target="_blank" title="资源分享" href="resource.html"><i class="fa fa-tags fa-2x"></i></a>*@
                            @*<a target="_blank" title="点点滴滴" href="timeline.html"><i class="fa fa-hourglass-half fa-2x"></i></a>*@
                        </div>

                        <fieldset class="layui-elem-field layui-field-title">
                            <legend>简介</legend>
                            <div class="layui-field-box aboutinfo-abstract">
                                <p style="text-align:center;">HuLuBlog是一个由ASP.NET MVC开发的个人博客网站，诞生于2021年3月1日</p>
                                <h1>当前版本</h1>
                                <p>前端页面使用了Layui作为显示层框架，Markdown编辑器使用开源的editor.md，后端技术采用了.Net MVC5,IOC容器使用了AutoFac依赖注入，数据访问层使用了SqlSugar进行了仓储模式封装。</p>
                                <p>后端整体采用DDD领域驱动设计思想，分层为服务层，Domain层，数据访问层，显示层，基础层，全部面向接口开发，使用IOC容器管理依赖</p>
                                <p>文章搜索使用了Lucene.Net，分词使用了Jieba.Net词库，评论区邮件通知使用了RabbitMQ作为消息队列，邮件服务可横向扩展</p>
                                <h1 style="text-align:center;">The End</h1>
                            </div>
                        </fieldset>
                    </div>
                </div><!--关于网站End-->
                <div class="layui-tab-item">
                    <div class="aboutinfo">
                        <div class="aboutinfo-figure">
                            <img src="@Url.Content("~/Content/Images/HuLu.png")" alt="HuLu" />
                        </div>
                        <p class="aboutinfo-nickname">葫芦</p>
                        <p class="aboutinfo-introduce">一枚.Net程序员，游戏宅，胶佬，爱好摸鱼</p>
                        <p class="aboutinfo-location"><i class="fa fa-location-arrow"></i>&nbsp;上海</p>
                        <hr />
                        <div class="aboutinfo-contact">
                            <a target="_blank" title="QQ交流" href="tencent://message/?uin=569812422&Site=Sambow&Menu=yes"><i class="fa fa-qq fa-2x"></i></a>
                            <a title="给我写信" id="email" data-request-url="@Url.Action("Email","Home")"><i class="fa fa-envelope fa-2x"></i></a>
                            <a target="_blank" title="新浪微博" href="https://weibo.com/shilei0811"><i class="fa fa-weibo fa-2x"></i></a>
                            <a target="_blank" title="git" href="https://github.com/StoneShiLei"><i class="fa fa-git fa-2x"></i></a>
                        </div>
                        <fieldset class="layui-elem-field layui-field-title">
                            <legend>简介</legend>
                            <div class="layui-field-box aboutinfo-abstract abstract-bloger">
                                <p style="text-align:center;">葫芦，诞生于1992年8月11日，一个干过超市收银，工地里搬过砖，当过广告印刷狗，做过电焊铁艺的现役.Net程序员</p>
                                <h1>个人信息</h1>
                                <p>暂无</p>
                                <h1>个人介绍</h1>
                                <p>暂无</p>
                                <h1 style="text-align:center;">The End</h1>
                            </div>
                        </fieldset>
                    </div>
                </div><!--关于作者End-->
                <div class="layui-tab-item">
                    <div class="aboutinfo">
                        <div class="aboutinfo-figure">
                            <img src="@Url.Content("~/Content/Images/handshake.png")" alt="友情链接" />
                        </div>
                        <p class="aboutinfo-nickname">友情链接</p>
                        <p class="aboutinfo-introduce">Name：HuLuBlog&nbsp;&nbsp;&nbsp;&nbsp;Site：www.hafuhafu.cn</p>
                        @*<p class="aboutinfo-location">
                                <i class="fa fa-close"></i>经常宕机&nbsp;
                                <i class="fa fa-close"></i>不合法规&nbsp;
                                <i class="fa fa-close"></i>插边球站&nbsp;
                                <i class="fa fa-close"></i>红标报毒&nbsp;
                                <i class="fa fa-check"></i>原创优先&nbsp;
                                <i class="fa fa-check"></i>技术优先
                            </p>*@
                        <hr />
                        <div class="aboutinfo-contact">
                            <p style="font-size:2em;">互换友链，携手并进！</p>
                        </div>
                        <fieldset class="layui-elem-field layui-field-title">
                            <legend>Friend Link</legend>
                            <div class="layui-field-box">
                                <ul class="friendlink">
                                    <li>
                                        <a target="_blank" href="https://noodlefighter.com/" title="Noodlefighter" class="friendlink-item">
                                            <p class="friendlink-item-pic"><img src="https://noodlefighter.com/favicon.png" alt="Layui" /></p>
                                            <p class="friendlink-item-title">Noodlefighter</p>
                                            <p class="friendlink-item-domain">noodlefighter.com.com</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </fieldset>
                    </div>
                </div><!--友情链接End-->


                <div class="layui-tab-item">
                    <div class="aboutinfo">
                        <div class="aboutinfo-figure">
                            <img src="@Url.Content("~/Content/Images/messagewall.png")" alt="留言墙" />
                        </div>
                        <p class="aboutinfo-nickname">留言墙</p>
                        <p class="aboutinfo-introduce">本页面可留言、吐槽、提问。欢迎灌水，杜绝广告！</p>
                        <p class="aboutinfo-location">
                            <i class="fa fa-clock-o"></i>&nbsp;<span id="time"></span>
                        </p>
                        <hr />
                        <div class="aboutinfo-contact">
                            <p style="font-size:2em;">沟通交流，拉近你我！</p>
                        </div>
                        <fieldset class="layui-elem-field layui-field-title">
                            <legend>Leave a message</legend>
                            @{ Html.RenderAction("CommentMoudlePartial", "Comment",new { articleID = string.Empty});}
                        </fieldset>
                        </div>
                    </div>
                <!--留言墙End-->
            </div>
        </div>
    </div>
</div>

