@model List<Com.Stone.HuLuBlog.Web.Models.CommentVM>
@using Com.Stone.HuLuBlog.Web.Helper

<ul class="blog-comment">
    <li>
        @*<div class="comment-parent">
                <img src="../images/Logo_40.png" alt="不落阁" />
                <div class="info">
                    <span class="username">不落阁</span>
                </div>
                <div class="content">
                    我为大家做了模拟留言与回复！试试吧！
                </div>
                <p class="info info-footer"><span class="time">2017-03-18 18:09</span><a class="btn-reply" href="javascript:;" onclick="btnReplyClick(this)">回复</a></p>
            </div>
            <hr />
            <div class="comment-child">
                <img src="../images/Absolutely.jpg" alt="Absolutely" />
                <div class="info">
                    <span class="username">Absolutely</span><span>这是用户回复内容</span>
                </div>
                <p class="info"><span class="time">2017-03-18 18:26</span></p>
            </div>
            <div class="comment-child">
                <img src="../images/Absolutely.jpg" alt="Absolutely" />
                <div class="info">
                    <span class="username">Absolutely</span><span>这是第二个用户回复内容</span>
                </div>
                <p class="info"><span class="time">2017-03-18 18:26</span></p>
            </div>*@

        @foreach (var comment in Model)
        {
            <div class="comment-parent">
                <a id="@comment.ID"></a>
                @Html.Raw(Html.Gravatar(comment.Email, size: 40, defaultImage: GravatarDefaultImage.MysteryMan, rating: GravatarRating.Default))
                <div class="info">
                    <span class="username">
                        @comment.UserName
                    </span>
                </div>
                <div class="content">
                    @comment.CommentContent
                </div>
                <p class="info info-footer">
                    <span class="time">@comment.AddDateTime.ToString("yyyy年MM月dd日   HH:mm")</span>
                    <a class="btn-reply" href="javascript:;" data-pid="@comment.ID" data-reply-to="@comment.UserName"  data-reply-to-id="@comment.ID">回复</a>
                    @if (!string.IsNullOrEmpty(ViewBag.UserID))
                    {
                        <a class="btn-delete" href="javascript:;" data-id="@comment.ID" data-articleID="@comment.ArticleID" style="margin-left:20px">删除</a>
                    }
                </p>
            </div>
            <hr />
            if (comment.ChildComments != null)
            {
                <div class="child-comment-container" id="child-comment-container-@comment.ID">
                    @{
                        comment.ChildComments = comment.ChildComments.OrderByDescending(c => c.AddDateTime).ToList();
                        //foreach (var child in comment.ChildComments)
                        var childList = comment.ChildComments;
                        for (int i = 0; i < childList.Count; i++)
                        {
                            <div class="comment-child" @if (i > 3) { <text>style="display:none" </text> }>
                            <a id="@childList[i].ID"></a>
                                @Html.Raw(Html.Gravatar(childList[i].Email, size: 40, defaultImage: GravatarDefaultImage.MysteryMan, rating: GravatarRating.Default))
                                <div class="info">
                                <span class="username">
                                    @childList[i].UserName
                                </span>
                                <span>&nbsp;回复&nbsp;&nbsp;
                                    <span class="username">
                                        @childList[i].ReplyTo 
                                    </span>
                                     &nbsp;：&nbsp;@childList[i].CommentContent
                                </span>
                        </div>
                        <p class="info">
                            <span class="time">@childList[i].AddDateTime.ToString("yyyy年MM月dd日   HH:mm")</span>
                            <a class="btn-reply" href="javascript:;" data-pid="@comment.ID" data-reply-to="@childList[i].UserName" data-reply-to-id="@childList[i].ID">回复</a>
                            @if (!string.IsNullOrEmpty(ViewBag.UserID))
                            {
                                <a class="btn-delete" href="javascript:;" data-id="@childList[i].ID" data-articleID="@childList[i].ArticleID" style="margin-left:20px">删除</a>
                            }
                        </p>
                        </div>
                        }
                        if(childList.Count > 4)
                        {
                            <div class="comment-footer" id="comment-footer-@comment.ID">共@(childList.Count)条回复，<a href="javascript:;" data-comment-id="@comment.ID">点击查看</a></div>
                        }
                    }
                    </div>
                }
            }
    </li>
</ul>

<style>
    .comment-footer{
        font-size:6px;
        margin:10px 0px 5px 100px;
    }
        .comment-footer a {
            color: #01AAED;
        }
</style>

<script>
    var totalCount = @ViewBag.TotalCount

    layui.use(['element', 'jquery','layer'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;

        //查看更多回复
        $(".comment-footer a").click(function () {
            var id = "#child-comment-container-" + $(this).data("comment-id");
            var footer = "#comment-footer-" + $(this).data("comment-id");
            $(id+" .comment-child").show();
            $(footer).remove();
        });

         //删除回复按钮
        $(".btn-delete").click(function () {
            var id = $(this).data("id");
            var articleID = $(this).data("articleID")
            layer.confirm('确定删除评论？', function (index) {
                GetDataByJson("@Url.Action("DeleteComment","Comment")", "post", {
                    commentID: id,
                    articleID:articleID
                }, function (data) {
                    if (data.IsSuccess) {
                        //关闭该 confirm 窗口
                        layer.close(index);
                        layer.msg(data.Message);
                        location.reload();
                    }
                    else {
                        layer.close(index);
                        layer.msg(data.Message)
                    }
                });
            });
        });

        //回复按钮渲染输入框
        $(".btn-reply").click(function () {
            var data = {};
            data.pid = $(this).data("pid");
            data.replyTo = $(this).data("reply-to");
            data.replyToID = $(this).data("reply-to-id");
            data.isChild = true;
            data.articleid = "@ViewBag.ArticleID";
            GetDataByHtml("@Url.Action("CommentMoudlePartial", "comment")", "get", data, function (data) {
                $("#comment-container").html(data);

                //滚动至窗口位置
                var container = $('html,body');
                var scrollTo = $("#remark-editor-container");
                container.animate({
                    scrollTop: scrollTo.offset().top - 100
                })
            });
        });




    });
</script>
