
@{
    ViewBag.Title = "HuLuBlog -- 文章详情";
    Layout = "~/Views/Shared/NavLayOut.cshtml";
}
@section css {
    <link rel="stylesheet" href="@Url.Content("~/editor.md/css/editormd.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/detail.css")" />
}
@section scripts {
    <script src="@Url.Content("~/Scripts/detail.js")"></script>
    <script src="@Url.Content("~/editor.md/lib/marked.min.js")"></script>
    <script src="@Url.Content("~/editor.md/lib/prettify.min.js")"></script>
    <script src="@Url.Content("~/editor.md/lib/raphael.min.js")"></script>
    <script src="@Url.Content("~/editor.md/lib/underscore.min.js")"></script>
    <script src="@Url.Content("~/editor.md/lib/sequence-diagram.min.js")"></script>
    <script src="@Url.Content("~/editor.md/lib/flowchart.min.js")"></script>
    <script src="@Url.Content("~/editor.md/lib/jquery.flowchart.min.js")"></script>
    <script src="@Url.Content("~/editor.md/editormd.min.js")"></script>
}

@using Com.Stone.HuLuBlog.Web.Models
@model ArticleVM
@using MvcSiteMapProvider.Web.Html

<!-- 主体（一般只改变这里的内容） -->
<div class="blog-container">
    @Html.MvcSiteMap().SiteMapPath("HuLuBlogSiteMap")
    <div class="blog-main">
        <div class="blog-main-left" @*style="width:100%"*@>
            <!-- 文章内容（使用Kingeditor富文本编辑器发表的） -->
            <div class="article-detail shadow">
                <div class="article-detail-title">
                    @Model.ArticleTitle
                </div>
                <div class="article-detail-info">
                    <span>编辑时间：@Model.AddDateTime.ToString("yyyy-MM-dd HH:mm:ss")</span>
                    <span>作者：@Model.UserName</span>
                    <span>分类：@Model.TagName</span>
                    <span>浏览量：@Model.ReadCount</span>
                    <span>评论数：@Model.CommentCount</span>
                    @if (ViewBag.UserID == Model.UserID)
                    {
                        <span><a href="@Url.Action("AddArticle","Article",new { articleID=Model.ID})" class="article-edit layui-btn layui-btn-xs">编辑</a></span>
                        <span><a class="article-delete layui-btn layui-btn-xs" data-home-url="@Url.Action("Index","Home")" data-request-url="@Url.Action("SoftDeleteArticle","Article",new { articleID=Model.ID})">删除</a></span>
                    }
                </div>
                <div id="editor-content" class="article-detail-content">
                    <textarea style="display:none;">@Model.MarkDownContent</textarea>
                </div>
            </div>
            <!-- 评论区域 -->
            <div class="blog-module shadow" style="box-shadow: 0 1px 8px #a6a6a6;">
                <fieldset class="layui-elem-field layui-field-title" style="margin-bottom:0">
                    <legend>来说两句吧</legend>
                    @{ Html.RenderAction("CommentMoudlePartial", "Comment", new { articleID = Model.ID });}
                </fieldset>
            </div>
        </div>
        <div class="blog-main-right">
            @*右边悬浮 平板或手机设备显示*@
            <div class="category-toggle"><i class="fa fa-chevron-left"></i></div>@*这个div位置不能改，否则需要添加一个div来代替它或者修改样式表*@

            @{ Html.RenderAction("SimilarArticleListPartial", "Article", new { articleTitle = Model.ArticleTitle, articleID = Model.ID });}

            @{ Html.RenderAction("RandomArticleListPartial", "Article");}

        </div>
        <div class="clear"></div>
    </div>
</div>
